header {
  width: 100%;
  height: 60px;
  background-color: rgb(9, 54, 135);

  h1 {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0 20px;

    a {
      display: blcok;
      background-image: url("https://cdn.upbit.com/images/logo_upbit_sub.feef3c3.svg");
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
      height: 100%;
    }
  }
}
